.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
  justify-content: center; /* ortala */
}

.about-img {
  max-width: 100%;
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
  filter: grayscale(50%);
}

.about-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.about-box {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}

.about-icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.about-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.about-subtitle {
  font-size: var(--small-font-size);
}

.about-description {
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* My Resume butonunu sağa kaydır */
.about-data .button {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
}

/* ==============BREAKPOINTS================ */
@media screen and (max-width: 992px) {
  .about-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    text-align: center;
  }

  .about-img {
    width: 220px;
  }

  .about-box {
    padding: 0.75rem 0.5rem;
  }

  .about-info {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .about-description {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }

  /* Küçük ekranlarda My Resume ortalanacak */
  .about-data .button {
    justify-content: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .about-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .about-img {
    width: 180px;
  }

  .about-description {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 350px) {
  .about-info {
    grid-template-columns: 1fr;
  }

  .about-img {
    width: 150px;
  }
}
